@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
@media screen and (max-width: 1440px) {
.container{
    width: 1240px;
    margin: 0 auto;
}
}
body {
    margin:0;
    padding: 0;
}
.main {
    background-color: #3d3833;
    padding: 0;
    margin: 0;
}
.title {
    text-align: center;
    margin-top:200px;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    font-size:160px;
    text-transform: uppercase;
    color:rgba(255,255,255,0.2);
    background: url('houses.jpeg') repeat-x;
    -webkit-background-clip: text;
    animation: ground 13s linear infinite;
    background-size: contain;
}
@keyframes ground {
0%{
    background-position:left 0 top 0;
   }
50%{
   background-position:left 150px top -25px;
   }
100%{
   background-position:left 300px top 0;
        }
    }
h2 {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding:0;
    font-size: 40px;
}
.header {
    background-color: #3d3833;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-width: 1440px;
    height: 900px;
    font-family: 'Manrope', sans-serif;
}
.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: auto;
    align-items: center;
}
ul li {
    display: block;
}
.menu .add {
    margin-right: 60px;
}
.menu .add_2 {
    margin-right: 60px;
}
.menu .add_3 {
    margin-right: 60px;
}
.menu li a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
}
.menu_2 {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    align-items: center;
}
.menu_2 .phone {
    margin-right: 60px;
}
.nav {
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.phone {
    color:#ffffff;
    font-size: 16px;
    text-decoration: none;
}
.btn button {
    width: 190px;
    height: 60px;
    color:#ffffff;
    text-align: center;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #ffffff;
    font-size: 18px;
}
.btn button:hover {
    background: #ffffff;
    color:#45403A;
    transition: all 0.7s ease;
}

.main .descriptor {
    font-size: 38px;
    color:#ffffff;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
}
.content {
    display: block;
    margin-top: 100px;
    font-family: 'Manrope', sans-serif;
}
.content .first {
    font-size: 16px;
    margin-bottom: 50px;
    color: #333333;
}
.content .second {
    font-size: 16px;
    color:#333333;
}
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block_2 {
    margin-top: 200px;
}
ul .list_1 {
    margin:0;
    list-style-type: none;
    font-size: 18px;
}
.list_1 li:before {
    content:"—";
}
ul .list_2 {
    margin:0;
    list-style-type: none;
    font-size: 18px;
}
.list_2 li:before {
    content:"—";
}
.block_3 {
    margin-top: 200px;
    font-family: 'Manrope', sans-serif;
    background-color: rgb(239, 239, 239);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-width: 1440px;
    padding-top: 150px;
    padding-bottom: 150px;
}
.list {
    display: flex;
    margin-left: auto;
    margin-top: 0;
}
.advantage {
    display: flex;
}
.list li {
    margin-bottom: 15px;
}
.list .list_1 {
    margin-right: 150px;
}
.block_4 {
    margin-top: 200px;
    font-family: 'Manrope', sans-serif;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-width: 1440px;
}
.content_1 {
    display: block;
    margin-top: 85px;
    font-family: 'Manrope', sans-serif;
}
.content_1 .first_1 {
    font-size: 16px;
    margin-bottom: 45px;
    color: #333333;
}
.content_1 .second_1 {
    font-size: 16px;
    color:#333333;
}
.interior {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block_5 {
    margin-top: 200px;
    font-family: 'Manrope', sans-serif;
}
.container_1 {
    max-height: 100vh;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
}
.item_1 {
    align-items: center;
    height: 100vh;
    scroll-snap-align: center;
    min-width: 100vw;
}
.item_2 {
    align-items: center;
    height: 100vh;
    scroll-snap-align: center;
    min-width: 100vw;
}
.item_3 {
    align-items: center;
    height: 100vh;
    scroll-snap-align: center;
    min-width: 100vw;
}
.item_4 {
    align-items: center;
    height: 100vh;
    scroll-snap-align: center;
    min-width: 100vw;
}
.item_5 {
    align-items: center;
    height: 100vh;
    scroll-snap-align: center;
    min-width: 100vw;
}
.block_6 {
    font-family: 'Manrope', sans-serif;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-width: 1440px;
}
.btn_1 button {
    width: 190px;
    height: 60px;
    color:#45403A;
    text-align: center;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #45403A;
    font-size: 18px;
}
.btn_1 button:hover {
    background: #45403A;
    color:#ffffff;
    transition: all 0.7s ease;
}
.offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 180px;
}
.offer_1 {
    margin-top: 50px;
    margin-bottom: 70px;
}
.penthouses {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}
.offer_3 {
    margin-top: 50px;
    margin-bottom: 70px;
}
.block_7 {
    margin-top: 200px;
    font-family: 'Manrope', sans-serif;
    background-color: #45403A;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-width: 1440px;
    padding-top: 150px;
    padding-bottom: 150px;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.first_input {
    display: inline-block;
    background: none;
    width: 400px;
    color: #767676;
    font-size: 16px;
    border: none;
}
.first_input:focus {
    background: #ffffff;
    outline: none;
    color: #45403A;
    width:400px;
    height: 35px;
}
.second_input {
    display: inline-block;
    background: none;
    width: 400px;
    color: #767676;
    font-size: 16px;
    border:none;
}
.second_input:focus {
    background: #ffffff;
    outline: none;
    color: #45403A;
    width:400px;
    height: 35px;
}
.third_input {
    display: inline-block;
    background: none;
    width: 400px;
    color: #767676;
    font-size: 16px;
    border: none;
}
.third_input:focus {
    background: #ffffff;
    outline: none;
    color: #45403A;
    width:400px;
    height: 35px;
}
h3 {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding:0;
    font-size: 31px;
    color: #ffffff;
    margin-bottom: 60px;
}
.first_input, .second_input, .third_input {
    margin: 0;
    padding:0;
}
hr {
    margin-bottom: 35px;
    border: 1px solid #ffffff;
}
.btn_2 button {
    width: 190px;
    height: 60px;
    color:#ffffff;
    text-align: center;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #ffffff;
    font-size: 18px;
}
.btn_2 button:hover {
    background: #ffffff;
    color:#45403A;
    transition: all 0.7s ease;
}
.line {
    border-color: #ffffff;
    width:1440px;
    margin: 0;
    padding: 0;
}
.footer {
    font-family: 'Manrope', sans-serif;
    background-color: #45403A;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-width: 1440px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.menu_3 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding:0;
}
.menu_3 li {
    list-style: none;
    margin-left: none;
}
.menu_3 li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}
.descriptor_2 {
    color:#ffffff;
    font-size: 12px;
}
.team {
    display: flex;
    align-items: center;
    color:#ffffff;
    font-size: 12px;
}
.additional {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.me {
    padding-right: 25px;
}
